<p class="alert"><%= alert %></p>
<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="container">
  <%= link_to "Show this friend", @friend, class:"btn btn-primary" %> |
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
  <%= button_to "Destroy this friend", @friend, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
</div>
